/* PortfolioInfo Styles */

.portfolioInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.portfolioProjectId {
  font-size: 14px;
  font-weight: 600;
  color: #1400ff;
}

.portfolioProjectName {
  font-size: 32px;
  font-weight: 700;
  color: #1e1e22;
}

@media (max-width: 768px) {
  .portfolioProjectName {
    font-size: 24px;
  }
}

.app--dark .portfolioProjectName {
  color: white;
}

.portfolioProjectDetails {
  font-size: 18px;
}

.portfolioDetailItem {
  margin-bottom: 1rem;
}

.portfolioDetailLabel {
  font-weight: 600;
  color: #1e1e22;
  margin-right: 1rem;
}

.app--dark .portfolioDetailLabel {
  color: white;
}

.portfolioDetailValue {
  color: #1400ff;
  font-weight: 500;
}

.portfolioProjectDescription {
  font-size: 16px;
  color: #1e1e22;
  margin-bottom: 0.5rem;
}

.app--dark .portfolioProjectDescription {
  color: #e0e0e0;
}

.portfolioProjectDescriptionList {
  list-style-type: disc;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.portfolioProjectDescriptionList li {
  margin-bottom: 0.5rem;
}

.portfolioButtons {
  display: flex;
  flex-wrap: wrap;
}

.portfolioSpecButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  color: #1e1e22;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid lightgray;
  margin-right: 10px;
  padding: 0.5rem 1rem;
}

.portfolioSpecButton:hover {
  color: #1400ff;
  border-color: #1400ff;
}

